/*
      Objects: Container
      ---
      Creates a horizontal container that sets de global max-width
  */
.o-container {
  margin: 0 auto;
  max-width: 67.5em;
  /* 67.5 * 16px = 1080 */
  width: 100%;
}
