/*
      Generic: Page
      ---
      Global page styles + universal box-sizing:
  */

html,
body {
  font: 16px / 1.5 "IBM Plex Sans", system-ui, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  //   Shorthand voor
  //   Font size
  // Line-height
  //  Font-family
  color: $global-textColor;
  background: var(--background-color);
  margin: 0 auto;
  // overflow: scroll;
  box-sizing: border-box;
  min-height: 100%;
  overflow: auto;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: $global-textColor;
}
